html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 60px 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 320px;
}

.figures-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  width: 200px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 320px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}

.figure-btn,
.action-btn {
  width: 60px;
  padding: 10px;
  cursor: pointer;
}

.actions-wrapper {
  display: flex;
  flex-direction: column;
  width: 80px;
  padding: 20px 0px;
}

.table {
  margin: 0;
  width: 300px;
  font-size: 32px;
  text-align: right;
  line-height: 20px;
  padding: 10px;
  border: 1px solid gray;
}

.figure-btn:not(:nth-last-of-type(-n + 3)) {
  margin-bottom: 20px;
}

.action-btn:not(:last-child) {
  margin-bottom: 20px;
}
